footer{
    display: block;
}
.home_footer {
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    margin-top: 14px;
}
#footer .navbarfooter {
    min-height: 45px;
}
#detail_footer ul, .mtopbottom {
    margin-top: 5px;
    margin-bottom: 5px;
}
#footer ul {
    margin-right: 0.5%;
}
.navbarfooter {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#footer_about {
    margin-bottom: 0px;
    padding-top: 12px;
}
.pull-left {
    float: left;
}

#footer_about .shadow {
    text-decoration: none;
    color: rgb(245, 245, 245);
    font: 1em 'Comic Sans MS';
}
a {
    color: #4C5353;
    text-decoration: none;
}

#footer_about b {
    color: rgb(7,5,5);
}

b, strong {
    font-weight: 500;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}